* {
    font-family: 'Roboto', sans-serif;
}

$main-blue: #2B4162;
$light-blue: #4D7EA8;
$gold: #D4AF37;
$black-coffee: #322A26;
$bone: #E0DDCF;

body {
    background-color: $bone;
}

main {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    flex-direction: column;
    max-width: 420px;
    margin: 0px auto;

    .avatar {
        margin: 2rem 0;
    }

    .avatar-img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        border: 5px solid $gold;
    }

    h1 {
        font-size: 2.2rem;
        font-weight: 500;
        color: $main-blue;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: $black-coffee;
    }

    .btn-group {
        width: 100%;

        a{
            text-decoration: none;
        }

        .btn {
            background-color: $main-blue;
            color: $bone;
            font-weight: 700;
            width: 100%;
            text-align: center; 
            padding: 20px 0px;
            margin: 20px 0px;
            border-radius: 5px;
        }
    }

    .divider {
        margin: 1rem 0;
        height: 2px;
        width: 100%;
        background-color: $black-coffee;
    }
}

footer{
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    line-height: 1.4rem;

    .resumen {
        text-align: justify;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .lista {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 50px;
    }

    li {
        padding: 5px;
    }
}

@media (prefers-color-scheme: dark){
    body {
        background-color: $black-coffee;
    }

    main {
        h1 {
            color: $gold
        }

        h2 {
            color: $bone;
        }

        .divider {
            background-color: $gold;
        }

        footer {
            color: $bone
        }
    }
}